<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="wx_reg">

</div>
<script type="text/javascript" src="http://rescdn.qqmail.com/node/ww/wwopenmng/js/sso/wwLogin-1.0.0.js"></script>
<script>
    window.WwLogin({
        "id" : "wx_reg",
        "appid" : "ww49fad72aa87b4fa1",
        "agentid" : "1000002",
        "redirect_uri" :"http://tp.xiongqinliang.top/weixin/auth/qrcode",
        "state" : "",
        "href" : "",
    });
</script>
</body>
</html>